/* main styles */

*, *:before, *:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 100%;
  color: #444;
  background-color: #fff;
  overflow-x: hidden;
  overflow-y: scroll;
}

article {
  max-width: 40em;
  padding: 0 4em;
  margin: 0 auto;
}

h1, h2 {
  font-weight: normal;
  margin-top: 1em;
}

p, a {
  margin-top: 1em;
}

h2 + p {
  margin-top: 0;
}

ul, ol {
  margin: 1em 0 0 2em;
}

li {
  margin-top: 0.5em;
}

pre {
  white-space: pre;
  padding: 2px 6px;
  margin-top: 1em;
  background-color: #ddd;
  border-radius: 3px;
  overflow: auto;
}

code {
  font-family: monospace;
  font-size: 1em;
}

img {
  max-width: 100%;
}

.bgimg {
  background: url(https://ucarecdn.com/718f79c5-2868-41c8-b56e-c87237674adb/-/resize/500x/man.jpg) 50% 50% no-repeat;
  background-size: cover;
  height: 300px;
  margin-top: 0.5em;
  font-size: 2em;
  text-align: center;
  color: #fff;
  text-shadow: 0 0 2px #000;
}

.bgimg.replace {
  background-image: url(https://ucarecdn.com/718f79c5-2868-41c8-b56e-c87237674adb/-/resize/32x/man.jpg);
}

.primary {
  width: 100vw;
  left: 50%;
  margin-left: -50vw;
}

.full, .boxout1, .boxout2 {
  clear: both;
  width: 100%;
  box-shadow: 0 3px 4px #000;
}

@media (min-width: 40em) {

  .boxout1, .boxout2 {
    clear: both;
    float: left;
    width: 22em;
    margin: 1em 1em 1em -4em;
  }

  .boxout2 {
    float: right;
    margin: 1em -4em 1em 1em;
  }

}
